<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/clouds.css">
<body>
  <div id="clouds">
    <div class="cloud x1"></div>
    <!-- Time for multiple clouds to dance around -->
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
  <div class="view view-first">
    <!-- <img src="images/5.jpg" /> -->
    <img src="images/car-test.gif" id="car">
    <div class="mask"></div>
    <div class="content">
      <h2>Hover Style #1</h2>
      <p>Some description</p>
      <a href="#" class="info">Read More</a>
    </div>
  </div>
  <div class="view view-first">
    <!-- <img src="images/5.jpg" /> -->
    <img src="images/car-test.gif" id="car">
    <div class="mask"></div>
    <div class="content">
      <h2>Hover Style #1</h2>
      <p>Some description</p>
      <a href="#" class="info">Read More</a>
    </div>
  </div>
  <div class="view view-first">
    <!-- <img src="images/5.jpg" /> -->
    <img src="images/car-test.gif" id="car">
    <div class="mask"></div>
    <div class="content">
      <h2>Hover Style #1</h2>
      <p>Some description</p>
      <a href="#" class="info">Read More</a>
    </div>
  </div>
  <div class="view view-first">
    <!-- <img src="images/5.jpg" /> -->
    <img src="images/car-test.gif" id="car">
    <div class="mask"></div>
    <div class="content">
      <h2>Hover Style #1</h2>
      <p>Some description</p>
      <a href="#" class="info">Read More</a>
    </div>
  </div>
</body>
</html>