<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Canvas/Webcam</title>
  <link rel="stylesheet" href="css/webcam.css">
</head>
<body>
    <h1>{{title}}</h1>
    <canvas id="c"></canvas>
    <video id="v"></video>
    <script src="js/webcam.js" type="text/javascript"></script>
</body>
</html>