/*body {
  background: linear-gradient(275deg, #d26fdd, #57c6df);
  background-size: 600% 600%;

  -webkit-animation: gradientAnimator 30s ease infinite;
  animation: gradientAnimator 30s ease infinite;
}
@-webkit-keyframes gradientAnimator {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes gradientAnimator {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}*/

.view-first img {
 -webkit-transition: all 0.2s linear;
 -moz-transition: all 0.2s linear;
 -o-transition: all 0.2s linear;
 -ms-transition: all 0.2s linear;
 transition: all 0.2s linear;
}
.view-first .mask {
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 background-color: rgba(219,127,8, 0.7);
 -webkit-transition: all 0.4s ease-in-out;
 -moz-transition: all 0.4s ease-in-out;
 -o-transition: all 0.4s ease-in-out;
 -ms-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
}
.view-first h2 {
 -webkit-transform: translateY(-100px);
 -moz-transform: translateY(-100px);
 -o-transform: translateY(-100px);
 -ms-transform: translateY(-100px);
 transform: translateY(-100px);
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 -webkit-transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 -ms-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
}
.view-first p {
 -webkit-transform: translateY(100px);
 -moz-transform: translateY(100px);
 -o-transform: translateY(100px);
 -ms-transform: translateY(100px);
 transform: translateY(100px);
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 -webkit-transition: all 0.2s linear;
 -moz-transition: all 0.2s linear;
 -o-transition: all 0.2s linear;
 -ms-transition: all 0.2s linear;
 transition: all 0.2s linear;
}
.view-first:hover img {
 -webkit-transform: scale(1.1,1.1);
 -moz-transform: scale(1.1,1.1);
 -o-transform: scale(1.1,1.1);
 -ms-transform: scale(1.1,1.1);
 transform: scale(1.1,1.1);
}
.view-first a.info {
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 -webkit-transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 -ms-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 1;
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 -o-transform: translateY(0px);
 -ms-transform: translateY(0px);
 transform: translateY(0px);
}
.view-first:hover p {
 -webkit-transition-delay: 0.1s;
 -moz-transition-delay: 0.1s;
 -o-transition-delay: 0.1s;
 -ms-transition-delay: 0.1s;
 transition-delay: 0.1s;
}
.view-first:hover a.info {
 -webkit-transition-delay: 0.2s;
 -moz-transition-delay: 0.2s;
 -o-transition-delay: 0.2s;
 -ms-transition-delay: 0.2s;
 transition-delay: 0.2s;
}
