body, html {
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0)
}
body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}

.pull-right { float: right; }
h1 { font-family: 'BrandonBold', serif !important; }
.fa-spin { font-size: 24pt; }
.box {
  width: 50%;
  height: 50%;
  position: absolute;
}

#first {
  top: 0;
  left: 0;
}

#second {
  top: 0;
  right: 0;
}

#third {
  bottom: 0;
  left: 0;
}

#fourth {
  bottom: 0;
  right: 0;
}

.loading-gif {
  visibility: hidden;
}

.search-letter-box {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 35px;
}

.search-results-box {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
}

.letter-box {
  padding: 20px;
  display: inline-block;
  margin: 15px;
  color: #fff;
}

.letter-box:hover {
  border: 1px dotted #fff;
  padding: 19px;
  /*background-color: #aaa;*/
  cursor: pointer;
}

.btn-options {
  bottom: 0;
  left: 0;
  /*position: absolute;*/
  /*clear: both;*/
}

#query-string {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px;
  background-color: #aaa;
}